.DS_Store
.gitignore
app/.gitignore
.metadata/
scripts/
docs/archive/
legacy/
docs/.DS_Store


# LaTeX build artefacts
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.pdf
*.run.xml

# scratch / experiments
app/empty.js
